
  .dv-capsule-chart {
    .capsule-item {
      position: relative;
    }
    .label-column {
      div:last-child {
        display: none;
      }
    }
    .capsule-container {
      .unit-label {
        display: none;
      }
    }
    .capsule-item .capsule-item-column {
      position: static;
      .capsule-item-value {
        transform: translate(-100%, -100%);
        position: absolute;
        right: 0;
        top: 0;
      }
    } 
  }
  .dv-3 .dv-decoration-3 {
    svg {
      width: 100%;
    }
  }
  